# Patterns to ignore when building packages.
# This supports shell glob matching, relative path matching, and
# negation (prefixed with !). Only one pattern per line.

# Common VCS artifacts
.git/
.gitignore
.bzr/
.bzrignore
.hg/
.hgignore
.svn/
.idea/

# Common backup files
*.swp
*.bak
*~

# Test and development files
*.sh
llamacpp-env-secrets.sealed.yaml
llamacpp.yaml

# OS files
.DS_Store
Thumbs.db
